<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="index.html" class="logo d-flex align-items-center me-auto">
      <img src="assets/img/logo.png" alt="">
      <h1 class="sitename">QuickStart</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li class="dropdown"><a href="dropdown1"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="/dropdown1">Dropdown 1</a></li>
           
            <li><a href="dropdown2">Dropdown 2</a></li>
            <li><a href="dropdown3">Dropdown 3</a></li>
            <li><a href="dropdown4">Dropdown 4</a></li>
            <li><a href="dropdown5">Dropdown 5</a></li>
          </ul>
        </li>
       
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  
  </div>
</header>

<main class="main">
  <section id="hero" class="hero section">
    <div class="hero-bg">
      <img src="/img/hero-bg-light.webp" alt="">
    </div>
    <div class="container text-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 data-aos="fade-up">Welcome to <span>QuickStart</span></h1>
        <p data-aos="fade-up" data-aos-delay="100">Quickly start your project now and set the stage for success<br></p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
        <img src="/img/hero-services-img.webp" class="img-fluid hero-img" alt="" data-aos="zoom-out" data-aos-delay="300">
      </div>
    </div>

  </section>